<!DOCTYPE html>

@using Taxii.Core.Scope

 @inject SiteLayoutScope _scope 

@{
    string userRole = _scope.GetUserRole(User.Identity.Name);
}  


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/picker/PersianDatePicker.min.css" rel="stylesheet" />



    @* <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" /> *@
</head>
<body>

    <div class="container main-contain">
        <div class="row main-row">
            <div class="col-lg-3 col-md-4"></div>
            <div class="col-lg-6 col-md-8 main-col">
                <section class="header-section">
                    <div class="header-area">
                        <div class="logo-area d-inline-block">
                            <img src="~/img/Snapp_logo.png" alt="SnappTaxi" class="img-fluid" />
                        </div>
                    </div>
                </section>
                <section class="main-section">
                    @RenderBody()
                </section>
                <section class="footer-section">
                    <div class="footer-menu">
                        <a href="#" class="footer-links">
                            <i class="fa fa-home fa-2x"></i>
                        </a>
                        <a href="#" class="footer-links">
                            <i class="fa fa-user fa-2x"></i>
                        </a>

                         @if (userRole == "driver")
                        {
                            <a href="#" class="footer-links">
                                <i class="fa fa-money fa-2x"></i>
                            </a>
                            <a href="#" class="footer-links">
                                <i class="fa fa-folder fa-2x"></i>
                            </a>
                        } 
                        else
                        {
                            <a href="/Panel/Payment" class="footer-links">
                                <i class="fa fa-plus fa-2x"></i>
                            </a>
                            <a href="#" class="footer-links">
                                <i class="fa fa-cog fa-2x"></i>
                            </a>
                        } 

                    </div>
                </section>
            </div>
            <div class="col-lg-3 col-md-4"></div>
        </div>


     @* <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>  *@
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    

      

    @RenderSection("Scripts", false)
</body>
</html>
