@page
@model Taxi.Site.Pages.Admin.Color.AddColorModel
@{
    ViewData["Title"] = "  ثبت رنگ";
    Layout = "_DashBoarddLayout";
}


<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="card">
            <div class="header">
                <h4 class="title pull-right">افزودن رنگ </h4>
            </div>
            <div class="content">
                <form method="post">
                    <div class="row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="_viewModel.Name">نام رنگ</label>
                                <input asp-for="_viewModel.Name" type="text" class="form-control" placeholder="نام رنگ">
                                <div asp-validation-for="_viewModel.Name" class="text-danger"></div>
                            </div>
                            <div class="form-group">
                                <label asp-for="_viewModel.ColorCode">کد رنگ</label>
                                <input asp-for="_viewModel.ColorCode" type="color" class="form-control">
                                <div asp-validation-for="_viewModel.ColorCode" class="text-danger"></div>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-info btn-fill">ثبت</button>
                    <a href="/admin/colors" class="btn btn-danger btn-fill">
                        بازگشت
                    </a>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>
