@page
@model Taxi.Site.Pages.Admin.Car.AddCarModel
@{
    ViewData["Title"] = "  ثبت خودرو";
    Layout = "_DashBoarddLayout";
}


<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="card">
            <div class="header">
                <h4 class="title pull-right">افزودن خودرو </h4>
            </div>
            <div class="content">
                <form method="post">
                    <div class="row">
                        @* <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="_viewModel.Name">نام کاربری</label>
                                <input asp-for="_viewModel.Name" type="text" class="form-control" placeholder="نام کاربری" >
                                <span asp-validation-for="_viewModel.Name" class="text-danger"></span>

                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-info btn-fill">ثبت</button>
                    <a href="/admin/cars" class="btn btn-danger btn-fill">
                       بازگشت
                    </a>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>
