@page "{id}"
@model Taxi.Site.Pages.Admin.Temperature.EditTemperature
@{
    ViewData["Title"] = $"  ویرایش تعرفه ";
    Layout = "_DashBoarddLayout";
}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="card">
            <div class="header">
                <h4 class="title pull-right">ویرایش تعرفه </h4>
            </div>
            <div class="content">
                <form method="post">
                    <div class="row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="_viewModel.Name">نام تعرفه</label>
                                <input asp-for="_viewModel.Name" type="text" class="form-control" placeholder="نام تعرفه">
                                <span asp-validation-for="_viewModel.Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="_viewModel.Start">از </label>
                                <input asp-for="_viewModel.Start" type="number" min="0" class="form-control">
                                <div asp-validation-for="_viewModel.Start" class="text-danger"></div>
                            </div>
                            <div class="form-group">
                                <label asp-for="_viewModel.End">تا </label>
                                <input asp-for="_viewModel.End" type="number" min="0" class="form-control">
                                <span asp-validation-for="_viewModel.End" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="_viewModel.Percent">درصد </label>
                                <input asp-for="_viewModel.Percent" type="text" class="form-control">
                                <span asp-validation-for="_viewModel.Percent" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-info btn-fill">ثبت</button>
                    <a href="/admin/Humidity" class="btn btn-danger btn-fill">
                        بازگشت
                    </a>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>
