@page
@model Taxi.Site.Pages.Admin.PriceType.AddPriceTypeModel

@{
    ViewData["Title"] = "  ثبت تعرفه";
    Layout = "_DashBoarddLayout";
}


<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="card">
            <div class="header">
                <h4 class="title pull-right">افزودن تعرفه </h4>
            </div>
            <div class="content">
                <form method="post">
                    <div class="row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="_viewModel.Name">نام تعرفه</label>
                                <input asp-for="_viewModel.Name" type="text" class="form-control" placeholder="نام تعرفه" >
                                <div asp-validation-for="_viewModel.Name" class="text-danger"></div>
                            </div>
                            <div class="form-group">
                                <label asp-for="_viewModel.Start">از مسافت</label>
                                <input asp-for="_viewModel.Start" type="number" min="0" class="form-control" >
                                <div asp-validation-for="_viewModel.Start" class="text-danger"></div>
                            </div>
                            <div class="form-group">
                                <label asp-for="_viewModel.End">تا مسافت</label>
                                <input asp-for="_viewModel.End" type="number" min="0" class="form-control">
                                <div asp-validation-for="_viewModel.End" class="text-danger"></div>
                            </div>
                            <div class="form-group">
                                <label asp-for="_viewModel.Price">نرخ ثابت</label>
                                <input asp-for="_viewModel.Price" type="text" class="form-control">
                                <div asp-validation-for="_viewModel.Price" class="text-danger"></div>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-info btn-fill">ثبت</button>
                    <a href="/admin/pricetypes" class="btn btn-danger btn-fill">
                        بازگشت
                    </a>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>
