@page "/Active"
@using Taxii.Core.VireModels
@model Taxi.Site.Pages.Account.ActiveModel;
@{
    ViewData["Title"] = "فعال سازی حساب";
    // Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
@if ( ViewData["IsError"].ToString() == "true")
{
    <script>
        swal("اخطار", "کد فعالسازی اشتباه وارد شده است","warning",{
            button:"متوجه شدم"
                });
    </script>
}
<h3 class="text-center">به اسنپ خوش آمدید</h3>
<br />
<h5 class="text-center">کد فعالسازی برای شما پیامک خواهد شد</h5>
<hr />
<form method="post" enctype="multipart/form-data">
    <div class="row d-flex justify-content-center">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="_viewModel.Code" class="control-label"></label>
                <input asp-for="_viewModel.Code" class="form-control" placeholder="مثل 123456" />
                <span asp-validation-for="_viewModel.Code" asp.handler-s class="text-danger"></span>

            </div>
            <div class=" form-group mt-3">
                <input type="submit" value="تایید و ادامه " class="w-100 btn btn-success btn-block" />
            </div>

        </div>
    </div>
</form>

@section Scripts
{
    <script src="~/js/sweet.js"></script>
}