@page "{id:guid}"
@model Taxi.Site.Pages.Admin.User.EditUserModel

@{
    ViewData["Title"] = "  ویرایش کاربر";
    Layout = "_DashBoarddLayout";
}


<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="card">
            <div class="header">
                <h4 class="title pull-right">ویرایش کاربر </h4>
            </div>
            <div class="content">
                <form method="post">
                    <div class="row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="_viewModel.RoleId">نقش کاربر  </label>
                                <Select class="form-control" asp-for="_viewModel.RoleId" asp-items="Model.Roles">
                                    <option value="0">نقش ها</option>
                                </Select>
                                @* <input asp-for="_viewModel.RoleId" type="text" class="form-control" placeholder="نام رنگ"> *@
                                <span asp-validation-for="_viewModel.RoleId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="_viewModel.UserName">شماره همراه</label>
                                <input asp-for="_viewModel.UserName" type="text" class="form-control">
                                <span asp-validation-for="_viewModel.UserName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-info btn-fill">ثبت</button>
                    <a href="/admin/Users" class="btn btn-danger btn-fill">
                        بازگشت
                    </a>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>