@page "{id}"
@model Taxi.Site.Pages.Admin.Role.EditRoleModel
@{
    ViewData["Title"] = "  ویرایش نقش";
    Layout = "_DashBoarddLayout";
}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="card">
            <div class="header">
                <h4 class="title pull-right">ویرایش نقش </h4>
            </div>
            <div class="content">
                <form method="post">
                    <div class="row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="_viewModel.Name">نام سیستمی نقش</label>
                            <input asp-for="_viewModel.Name" type="text" class="form-control" placeholder="نام رنگ">
                            <span asp-validation-for="_viewModel.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="_viewModel.Title">نام  نمایشی نقش</label>
                            <input asp-for="_viewModel.Title" type="text" class="form-control">
                            <span asp-validation-for="_viewModel.Title" class="text-danger"></span>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-info btn-fill">ثبت</button>
                    <a href="/admin/roles" class="btn btn-danger btn-fill">
                        بازگشت
                    </a>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>